* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to right, #919090, #E6E6FA);
  color: #bea7a7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  min-width: 1200px;
  padding: 20px;
  overflow-x: hidden;
  flex-wrap: wrap;
}

header {
  color: #888282;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(110, 108, 108, 0.1);
  margin-top: 5px;
}

.header-items {
  display: flex;
  margin-left: auto;
  font-family: 'Nunito', sans-serif;
  align-items: center;
}

.header-items a {
  color: #222C43;
  text-decoration: none;
  margin: 0 20px;
  font-weight: 800;
  transition: color 0.3s;
}

.header-items a:hover {
  color: #414141; 
  text-decoration-line: underline;
}

.header-item {
  max-width: 100%;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
  padding-top: 5px;
  flex-direction: column;
  align-items: center;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  color: #242936;
  text-decoration-line: underline;
}

.description-text {
  margin-bottom: 40px;
  color: #242936;
  font-size: 20px;
}

.logo {
  height: 50px;
  width: auto;
  margin-left: 10px;
}

.name-text {
  display: flex;
  font-family: 'Playfair Display', serif;;
  color: #373636;
  font-weight: bold;
  font-size: 25px;
  margin-right: 10px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 1px 1px 3px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  border-radius: 10px;
  height: 90px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: color 0.3s;
}

nav a.active {
  color: #e1b12c; 
  font-weight: bold;
}

nav a:hover {
  color: #6d6b67;
}

h2 {
  font-size: 2rem;
  color: #222C43;
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

button {
  background-color: #606061; 
  color: #e9e9e9;
  margin: 5px;
  padding: 0.6rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #444344;
  transform: scale(1.05);
}


input, textarea {
  border: 1px solid #ccc; 
  border-radius: 4px; 
  opacity: 0.7;
}

.add-product-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  padding-top: 5px;
}

.add-product {
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  width: 0 0 60%;
  opacity: 10;
}

.add-product input, .add-product textarea {
  width: 100%;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.add-product h3 {
  font-size: 1.4rem;
  margin-top: 2rem;
  font-family: 'Playfair Display', serif;
}

.add-product img {
  max-width: 100px;
  border-radius: 8px;
}

.edit-product {
  margin-top: 30px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  width: 0 0 60%;
  opacity: 0.9;
}

.edit-product input, .edit-product textarea {
  width: 95%;
  padding: 0.8rem;
  margin: 0.8rem 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
  opacity: 0.7;
}

.inputs {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
  margin: 5px;
  color: #6c6b6f;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: border 0.3 ease;
  box-shadow: 0.3 ease;
}

.inputs:focus {
  border-color: #5a5959;
  outline: none;
  box-shadow: 0 0 5px #6A696D;
}

.product-preview {
  padding: 1.5rem;
  border-radius: 8px;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  opacity: 0.9;
}

.product-preview h3 {
  font-size: 30px;
  color: #222C43;
  font-family: 'Playfair Display', serif;
}

.product-preview h4 {
  font-size: 1.3rem;
  color: #353434;
}

.product-preview p {
  font-size: 20px;
  color: #2F3640;
  font-family:serif;
  font-weight: bold;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.product-preview img {
  max-width: 150px;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.product-list {
  max-width: 100%;
  margin: 2rem auto;
}

.product-list ul {
  list-style-type: none;
  padding: 0;
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 1rem;
  margin-top: 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
  border: 2px solid #7B7A7E;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s;
  flex: 1 1 calc(30% - 1rem);
  max-width: 300px;
  flex-direction: column;
  opacity: 0.9;
}

.product-card h4 {
  font-size: 1.4rem;
  color: #242931;
}

.product-card img {
  width: 100%;
  height: 100%;
  max-width: 200px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.product-card a {
  text-decoration: none;
  color: #2f3640;
  font-weight: 500;
  margin: 10px;
}

.product-card a:hover {
  color: #5b5b5a;
}

.product-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-changes {
  display: flex;
  justify-content: space-around;
  color: #252a32;
  font-family:serif;
  font-weight: bold;
}

.product-view {
  max-width: 600px;
  margin: 2rem auto;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.5);
  opacity: 10;
}

.product-view p {
  font-size: 20px;
  color: #2F3640;
  font-family:serif;
  font-weight: bold;
}

.product-view img {
  max-width: 300px;
  border-radius: 10px;
  margin: 1rem 0;
  margin-bottom: 5px;
}

.product-view h2 {
  font-size: 1.7rem;
  margin-top: 15px;
  margin-bottom: 3px;
}

@media (max-width: 1200px) {

  .container {
    min-width: 100%;
  }

  .add-product-container {
    min-width: 100%;
    flex-direction: row;
  }

  .add-product, .product-preview {
    width: 100%;
  }

  .product-card {
    flex: 1 1 calc(100% - 1rem);
    flex-direction: column;
    justify-content: space-between;
  }
}